<html>
    <head>
        <link 
        <title>Shoe Polish</title>
    </head>
    <body>
        {{>header}}
        <p>This site is so cool and made it with nodejs and gets apis weather info from your mama</p>
        {{>footer}}
    </body>
</html>