<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/assets/style.css"/>

    </head>
    <body>
        {{>header}}
        <img src="/assets/imgs/profile.jpg"/>

        <form>
            <input placeholder="Enter Location">
            <button>Submit</button>

        </form>

        <div>
            
            <h1 id="location"></h1>
            <p id="weather"></p>
            <p id='msg-1'></p>
            <p id='msg-2'></p>
        </div>

        {{>footer}}








        <script src="/assets/main.js"></script>
    </body>
</html>